body { font-family: $mainFont; font-size: $mainFontSize; background-color: $bg_sidebar_color; }

#topPanel { margin:0; position:relative; }

.bannerContainer { padding:0; }

#bottomPanel {
  margin:0;
}