//designer please put your stuff here -> globals ( colors, fonts, etc)

$sidebar-bgcolor: #505050;
$sidebar-font-color: white;
$footer-color: #444444;
$header-color: white;
$header-font-color: #95413c;
$menu-bgcolor: #f3d83f;
$headerUpLcorner-bgcolor: #690800;
$body-bgcolor: #f1f1f1;
$body-font-color: #adadad;
$classcontent-color: rgb(204, 204, 204);
$highlight-bgcolor: rgb(0, 0, 0);
$user-bgcolor: rgb(0, 0, 0);